<div class="command_wrapper">
  <div class="command_name">Combine</div>

  <div
    id="func_combine_button"
    class="army_button func_command_button gui-button_combine"
    (click)="onCombineClick()"
    title="Run Combine Function">

    <svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12 4a8 8 0 1 0 8 8 8.01 8.01 0 0 0-8-8Zm.5 4.25v4.5l3.5 2.1-.75 1.23-3.75-2.25V8.25h1Z"
        fill="currentColor"
        stroke="currentColor"
        stroke-width="1"
      />
    </svg>

  </div>
</div>
